.footer {
    box-sizing: border-box;
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.footer__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
    justify-content: space-between;
    margin-top: 50px;
}

.footer__content ul {
    list-style: none;
    padding: 0;
    
}

.footer__content li {
    margin: 10px 0;
    padding: 0;
}

.footer__content a {
    text-decoration: none;
    color: white;
}

.footer__content a:hover {
    text-decoration: underline;
}

.footer__container{
    width: 33%;
}

.footer__subtitle{
    margin-bottom: 20px;
    text-shadow: 0 0 10px #fff;
}

.social-icons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer__icon{
    filter:drop-shadow(0 0 3px #fff);
    transition: all 0.3s ease-in-out;
}

.footer__icon:hover{
    transform: scale(1.1);
    filter:drop-shadow(0 0 10px #fff);
}

.footer__rights {
    margin-top: 70px;
    margin-bottom: 30px;
    
}

@media (max-width: 1035px) {
    .footer__subtitle{
        font-size: 1rem;
    }

    .footer__content ul {
        font-size: 0.8rem;
    }

    .footer__rights {
        font-size: 0.7rem;  
    }
}

@media (max-width: 800px) {
    .footer__content{
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .footer__container{
        width: 100%;
    }
}

@media (max-width: 480px) {
    .footer__subtitle{
        font-size: 1.3rem;
    }

    .footer__content ul {
        font-size: 0.9rem;
    }

    .footer__rights {
        font-size: 0.8rem;  
    }
}