:root {
    font-size: 36px;
    --fade-duration: 3s; 
	font-family: JetBrainsMono;
	background-color: #444;
	color: #fff;
}

* {
	padding: 0;
	margin: 0;
}

main {
	background-color: #444;
	color: #fff;
	width: 100%;
	height: 300px;
}